html {
    height: 100%;
}
body {
    min-height: 100vh;
}

body {
    background-image: url(./img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: rgb(8, 27, 56);
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
}

.sobremim {
    text-align: left;
}

nav ul {
    display: flex;
    justify-content: space-evenly; 
    list-style-type: none;
    align-items: center;
    padding: 12px;
    background-color: rgba(253, 253, 253, 0.75) ;
    border-radius: 20px;
    font-weight: bold;
    width: 100%;
}

a {
    color: rgb(8, 27, 56);
    text-decoration: none;
}

#imgbianca {
    width: 120px;
    height: 160px;
    margin: 5px;
    border-radius: 0px 20px 0px 20px;
    border: 1px solid deepskyblue;
    padding: auto;
}

h1 {
    color: rgb(19, 135, 180);
}

h1:hover {
    color:deepskyblue ;
}

h1, h2 {
    margin: 0 auto;
    padding: 10px;
    padding-top: 5px;
    display: block;
    background-color: rgb(253, 253, 253, 0.75) ;
}

h3 {
    color: rgb(19, 135, 180);
    }

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 auto;   
}

header ul {
    display: flex;
    align-items: center;
    margin-top: auto;
    list-style-type: none;
}

.sobremim {
    text-align: left;
    background-color: rgb(253, 253, 253, 0.75) ;
    display: block;
    border-radius: 20px;
    padding: 10px;
    padding-top: 5px;
}

footer img {
    width: 50px;
    height: 50px;
}

footer {
    display: flex;
    justify-content: center;
}

footer a {
    margin: 20px;
    text-align: center;
}

footer p {
    margin-top: 2px;
}

nav a:hover {
    cursor: pointer;
    color: deepskyblue;
}

/*Pagina do Contato*/

#titulo{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(19, 135, 180);
    align-items: center;
    padding: 12px;
    border-radius: 20px;
    margin-top: 2%;
    padding-block: 2px;
    margin-bottom: 5px;
}

#back {
    text-align: center;
    list-style-type: none;
    font-size: 15px;
    align-items: center;
    margin: 0;
    padding: 0;
    margin: 0 auto;
}

#contact{
    font-size: 1em;
    margin-top: 2%;
    align-items: center;
    align-content: center;
    display: inline-block;
    justify-content: center;
    padding: center center;
    position: center;
}

input, textarea, button{
    border-radius: 5px;
}

.campo {
    margin-bottom: 1em;
    text-decoration-color:  rgb(8, 27, 56);
}

.campo label{
    margin-bottom: 0.2em;
    color: rgb(8, 27, 56) ;
    display: block;
}

.campo input[type="text"], .campo input[type="email"], .campo textarea {
    padding: 0.2em;
    border: 1px solid rgb(19, 135, 180);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
}

.campo input:focus, .campo textarea:focus {
    background: rgb(206, 234, 245) ;
}

.botao {
    font-size: 1.1em;
    background-color: rgb(16, 143, 194) ;
    border: 0;
    margin-bottom: 1em;
    color: rgb(8, 27, 56);
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.562);
    position: sticky;
    top: 20px;
}

form {
    background-color: rgb(253, 253, 253, 0.75) ;
    border-radius: 20px;
    padding: 10px;
    padding-top: 20px;
    align-items: center center;
    display: inline-block;
}

.botao:hover {
    background: #add8e6;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2) ;
    text-shadow: none;
}

/*Pagina do Obrigada*/

.obg {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(./img/background.jpg);
    flex-direction: column;
}

.text {
    font-size: 45px;
    color:rgb(8, 27, 56);
    margin-bottom: 30px;
}

.paragrafo {
    font-size: 25px;
    color:rgb(206, 234, 245);
    margin-bottom: 50px;
    margin-top: 2px;
}

.btn {
    font-size: 1.1em;
    padding: 15px 55px;
    transition: all 0.5s;
    background: rgb(16, 143, 194) ;
    color: rgb(8, 27, 56);
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(165, 229, 248, 0.555);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.562);
    top: 20px;
}

.btn:hover {
    background: #add8e6;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2) ;
    text-shadow: none;
}

/*Pagina Projetos*/

.pj {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(19, 135, 180);
    align-items: center;
    margin-top: 2%;
}

#projeto {
    text-align: center;
    padding: 12px;
    border-radius: 20px;
    font-size: 23px;
}

div #projeto-bia {
    display: flex;
    align-items: center;
    align-content: center;
    border-image: solid azure;
    border-radius: 50%;
}


@media only screen and (max-device-width: 900px){
    /* nav ul { width:100%; } */
}

@media (max-width: 1920px) {

}
  
@media (max-width: 992px){

}
